.cart-item-list-wrapper {
	border-style: ridge ;
	border-color: black ;
	padding-top: 40px ;
}

.cart-item-image-wrapper {
	float: left ;
}

.cart-item-info-wrapper {
	float: right ;
	font-color: white ;
}
