.item-list-wrapper {
	padding: 5px;
	filter: grayscale(75%) opacity(80%);
	text-align:center;
	width: 100%;
}

.item-list-during-wrapper {
	padding: 5px;
	border-style: none none solid none ;
}

.timer-wrapper {
	overflow: hidden ;
}

.timer-wrapper .timer-message {
	font-size: large ;
	color: white ;
	text-align: center ;
}
.home-wrapper{
	text-align:center;
}
